USE [master]
GO
/****** Object:  Database [Hotel]    Script Date: 12-Sep-24 22:54:07 ******/
CREATE DATABASE [Hotel]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Hotel', FILENAME = N'C:\Users\WIN 10\Hotel.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Hotel_log', FILENAME = N'C:\Users\WIN 10\Hotel_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Hotel].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Hotel]
GO
/****** Object:  Table [dbo].[Gost]    Script Date: 12-Sep-24 22:54:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gost](
	[GostId] [int] IDENTITY(1,1) NOT NULL,
	[Ime] [varchar](50) NOT NULL,
	[Prezime] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Telefon] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Gost] PRIMARY KEY CLUSTERED 
(
	[GostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menadzer]    Script Date: 12-Sep-24 22:54:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menadzer](
	[MenadzerId] [int] IDENTITY(1,1) NOT NULL,
	[Ime] [varchar](50) NOT NULL,
	[Prezime] [varchar](50) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Menadzer] PRIMARY KEY CLUSTERED 
(
	[MenadzerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rezervacija]    Script Date: 12-Sep-24 22:54:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rezervacija](
	[RezervacijaId] [int] IDENTITY(1,1) NOT NULL,
	[UkupnaCena] [float] NOT NULL,
	[GostId] [int] NOT NULL,
	[MenadzerId] [int] NOT NULL,
 CONSTRAINT [PK_Rezervacija] PRIMARY KEY CLUSTERED 
(
	[RezervacijaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Soba]    Script Date: 12-Sep-24 22:54:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Soba](
	[SobaId] [int] IDENTITY(1,1) NOT NULL,
	[Broj] [varchar](50) NOT NULL,
	[CenaPoDanu] [float] NOT NULL,
	[Opis] [varchar](max) NOT NULL,
	[TipSobe] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Soba] PRIMARY KEY CLUSTERED 
(
	[SobaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StavkaRezervacije]    Script Date: 12-Sep-24 22:54:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StavkaRezervacije](
	[RezervacijaId] [int] NOT NULL,
	[RbStavke] [int] NOT NULL,
	[DatumPocetka] [datetime] NOT NULL,
	[DatumKraja] [datetime] NOT NULL,
	[BrojDana] [int] NOT NULL,
	[CenaStavke] [float] NOT NULL,
	[SobaId] [int] NOT NULL,
	[UslugaId] [int] NOT NULL,
 CONSTRAINT [PK_StavkaRezervacija] PRIMARY KEY CLUSTERED 
(
	[RezervacijaId] ASC,
	[RbStavke] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usluga]    Script Date: 12-Sep-24 22:54:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usluga](
	[UslugaId] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [varchar](50) NOT NULL,
	[Opis] [varchar](max) NOT NULL,
	[CenaPoDanu] [float] NOT NULL,
 CONSTRAINT [PK_Usluga] PRIMARY KEY CLUSTERED 
(
	[UslugaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Rezervacija]  WITH CHECK ADD  CONSTRAINT [FK_Rezervacija_Gost] FOREIGN KEY([GostId])
REFERENCES [dbo].[Gost] ([GostId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Rezervacija] CHECK CONSTRAINT [FK_Rezervacija_Gost]
GO
ALTER TABLE [dbo].[Rezervacija]  WITH CHECK ADD  CONSTRAINT [FK_Rezervacija_Menadzer] FOREIGN KEY([MenadzerId])
REFERENCES [dbo].[Menadzer] ([MenadzerId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Rezervacija] CHECK CONSTRAINT [FK_Rezervacija_Menadzer]
GO
ALTER TABLE [dbo].[StavkaRezervacije]  WITH CHECK ADD  CONSTRAINT [FK_StavkaRezervacije_Rezervacija] FOREIGN KEY([RezervacijaId])
REFERENCES [dbo].[Rezervacija] ([RezervacijaId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StavkaRezervacije] CHECK CONSTRAINT [FK_StavkaRezervacije_Rezervacija]
GO
ALTER TABLE [dbo].[StavkaRezervacije]  WITH CHECK ADD  CONSTRAINT [FK_StavkaRezervacije_Soba] FOREIGN KEY([SobaId])
REFERENCES [dbo].[Soba] ([SobaId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[StavkaRezervacije] CHECK CONSTRAINT [FK_StavkaRezervacije_Soba]
GO
ALTER TABLE [dbo].[StavkaRezervacije]  WITH CHECK ADD  CONSTRAINT [FK_StavkaRezervacije_Usluga] FOREIGN KEY([UslugaId])
REFERENCES [dbo].[Usluga] ([UslugaId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[StavkaRezervacije] CHECK CONSTRAINT [FK_StavkaRezervacije_Usluga]
GO
USE [master]
GO
